<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to 10 Broke Dudes!
  </h1>
</div>
<h2>Streamers</h2>
<ul>
  <li>
    <!-- <h2><a target="_blank" rel="noopener" href="https://www.twitch.tv/pjsalty123">PJSalty123</a></h2>
    <iframe
        src="http://player.twitch.tv/?channel=pjsalty123&muted=true&autoplay=true"
        height="300"
        width="400"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
    </iframe>
    <iframe frameborder="0"
            scrolling="no"
            id="chat_embed"
            src="http://www.twitch.tv/embed/pjsalty123/chat"
            height="300"
            width="350">
    </iframe> -->
    <streamer-box channel="pjsalty123"></streamer-box>
  </li>
  <li>
    <streamer-box channel="fuegoisback"></streamer-box>
  </li>
  <li>
    <streamer-box channel="ohsolavish"></streamer-box>
  </li>
</ul>
